#myBtnContainer .btn {
  border: none;
  outline: none;
  padding: 8px 15px 8px 0;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  width: 150px;
  margin: 5px 15px 4px 0px;
  box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.2),
    0 2px 2px 0 rgba(170, 170, 170, 0.2);
  background-color: #f69322;
}
#myBtnContainer {
  margin: 15px;
  letter-spacing: 5px;
}
#myBtnContainer .btn:focus {
  background: #8cc541;
  color: white;
  padding-left: 10px;
  box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.3),
    0 3px 5px 0 rgba(170, 170, 170, 0.3);
}
#myBtnContainer .btn:focus:before {
  content: "\00bb ";
  opacity: 1;
  transition: 0.5s;
}
.master-box {
  margin: 40px 0;
  padding: 0 5%;
}
.faq-header {
  padding: 0 0px 10px 0;
  text-align: center;
  border-radius: 1px;
  color: white;
}
hr.hr-sep {
  width: 80%;
  border-radius: 50%;
}
#myBtnContainer .btn::before {
  content: "\00bb ";
  font-size: 18px;
  opacity: 0;
  transition: 0.4s;
}
#myUL li .accordion-thumb {
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  border: 1px solid lightgrey;
  margin-top: -1px;
  margin: 6px;
  text-decoration: none;
  color: #565555;
  display: block;
  border-radius: 3px;
}
#myUL li span {
  font-size: 16px;
  font-weight: 700;
  color: #565555;
}
#myUL {
  list-style-type: none;
  width: 100%;
  padding: 0;
  background: rgba(255, 255, 255, 0.01);
}
.accordion-button:focus {
  z-index: 3;

  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
  box-shadow: none;
}
.accordion-button {
  border-radius: 3px;
  background-color: transparent;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-panel {
  margin: 0 0 0 3%;
  padding: 10px 20px 10px 20px;
  color: black;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  background: white;
}
